/* Global Styling */
body{
  background-image: url("https://images7.alphacoders.com/365/thumb-1920-365706.jpg");
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}


header, nav {
  position: fixed;
  background-color: #eaebeb;
  color: #ffffff;
  font-family: "Kenzo";
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background-color: #14457a;
  color: rgb(255, 255, 255);
  position: fixed;
  height: 50px ;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: right;
  align-items: center;
}


.nav-item {
  position: relative;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 1rem;
  transition: all 0.2s ease-in-out;
  align-items: center;
}
.nav-link:hover {
  color: rgb(17, 190, 52);
  display: inline-block;

}

.logo-image{
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}
/* Index Page Styling */
.card {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  margin: 20px;
  perspective: 800px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 1500px; 
}


.card {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 350px;
  margin: 20x;
  perspective: 800px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

/* Show Page Styling */

.apartment_description {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 0 auto;
  height: 100vh;
}

.apartment-image {
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px
}
.show_text {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.5);
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #14457a;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-family: "Kenzo";
}

/* Home Page Styling */

.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.wrap {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}


.searchTerm {
  width: 70%;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #555;
}

.searchButton {
  width: 30%;
  height: 40px;
  border: 1px solid #555;
  background: #555;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
/* Slider Styling */
.slick-slider.slick-initialized {
 width: 100%;
 margin: 0;
}
.wrap .slick-track {
  position: relative;
  display: grid;
  gap: 15px;
  margin-right: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.wrap .slick-track::before,
.wrap .slick-track::after{
  content: none;
}


.suggestion_card1,
.suggestion_card2,
.suggestion_card3 {
  margin: 0 5px;
  max-width: 350px;
}

@media (min-width: 768px) {
  .suggestion_card1,
  .suggestion_card2,
  .suggestion_card3 {
    width: 100%;
    max-width: none;
  }
}

.card-body {
  height: 100px;
  width: 100%;
  overflow: auto;
}

.suggestion_card1 {
  background-color: #f5f5f5;
}

.suggestion_card2 {
  background-color: #fafafa;
}

.suggestion_card3 {
  background-color: #f5f5f5;
}



/* Sign Up Styling */
.sign_up{
  position: relative;
  justify-content: center;
  top: 100px;
  /* left: 25%; */
}

.card-container{
  display: grid;
  position: relative;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 0 auto;
}




/* Not Found Styling */
.not_found{
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("https://static01.nyt.com/images/2023/02/04/multimedia/03-dc-balloon-explainer/03-dc-balloon-explainer-videoSixteenByNine3000.jpg");
  background-size: cover;
  display: flex;
  overflow:hidden;
}

.not_found h1{
  position: absolute;
  top: 10%;
  font-size: 100px;
  font-weight: 700;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}


.form-container-new {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form-group-container {
  display:block;
  flex-direction: column;


}


